/* text sizes */

.text-s {
    font-size: small;
}

.text-m {
    font-size: medium;
}

.text-l {
    font-size: 1.7rem;
}

.text-ll {
    /* height: ; */
    display: flex;
    font-size: larger;
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-items: center; */
    color: #ebeff5;
    align-items: center;
}

/* nav-section */

.nav-section-1 {
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 1px 5px 0px rgba(24, 23, 23, 0.603);
    background-color: #1d69c4;
    padding: 10px;
    display: flex;
    /* width: ; */
    justify-content: space-around;

    
}

.nav-title {
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
    align-items: center;
    flex: 1;

}

.trademark {
    font-size: .9rem;
    font-weight: bold;
}

.nav-title-text {
    color: #ebeff5;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    align-items: center;
    justify-items: flex-end;
    /* align-content: center; */
}

.nav-menu-1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-menu p {
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
    padding: 0px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.nav-menu-1 p {
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
    padding: 15px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.nav-menu p:hover {
    color: rgb(4, 134, 255);
    /* animation: slow 2 timing-function delay iteration-count direction fill-mode; */
    background-color: rgba(0, 0, 0, 0.03);
}
.nav-menu-1 p:hover {
    color: rgb(4, 134, 255);
    /* animation: slow 2 timing-function delay iteration-count direction fill-mode; */
    background-color: rgba(0, 0, 0, 0.03);
}

.header {
    padding: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    
}


/* controller */

.controller-base {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    color: #1C6DD0;
    font-weight: 700;
    font-size: .8rem;
    padding: 11px 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}


.button:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.active {
    background-color: #1C6DD0 !important;
    color: white;
}

.inactive { 
    background-color: transparent;
}



/* body-section */
.main-body {
    width: 100;
    min-width: 800;
    flex: 1;
    /* background: linear-gradient(247deg, rgba(159, 159, 173, 0.5),rgba(255, 255, 255, 0.94) 40.30%),
    linear-gradient(127deg, rgba(93, 84, 255, 0.882), rgba(0,5,0,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.8), rgba(25,0,255,0) 70.71%); */

}
.body-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
}

/* inside body section */

.inside-body-section {
    margin-top: -1rem !important;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 35%;
    justify-content: space-around;
}


.left-div {
    width: 100%;
}
/* 
.right-div {
    
} */

.section-2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem !important;
    margin-bottom: 4rem !important; 
}

.inside-body-section-2 {
    margin-top: -1rem !important;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 35%;
    justify-content: space-around;
}

.right-div-section-2 {
    box-shadow: 2px 2px 15px 2px rgba(221, 221, 221, 0.774);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 65%;
    transition: all 200ms ease-in;
    transform: scale(.9);
    
}


.right-div-section-2:hover { 
    transition: all 200ms ease-in;
    transform: scale(1);
    cursor: default;
    box-shadow: 2px 2px 15px 2px rgba(221, 221, 221, 0.9);
    
}

.right-div-section-2:hover  .nav_peer {
    transition: all 300ms cubic-bezier(0.87, 1.65, 1, 1);
    display: flex;
}


.left-div-section-2 {
    display: flex;
    margin: 0;
    flex-direction: row;
}

@keyframes spin {
    100%{background-position: 100%;}
}

.peer-info {
   height: 100%; 
}

.peer-info h2 {
    margin: 1.5rem 0rem;
}

.peer-info p {
    margin: 1.5rem 0rem;
}

.nav_peer {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.nav_peer button {
    padding: .5rem;
    outline: none;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav_peer button:hover {
    background-color: rgba(0, 0, 0, 0.19);
}

.section-2 h3 {
    margin: 3rem 1rem;
    font-size: 32px;
}

.left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-div h3 {
    font-size: 36px;
    margin-bottom: 14px;
}

.left-div p {
    font-size: 16px;
    margin-bottom: 14px;
}

.supported-by {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; 
}


.support-container {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.each-banner {
    /* box-shadow: 2px 2px 15px 2px rgba(221, 221, 221, 0.774); */
    margin: 10px;
    height: 50;
    width: 50;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5rem;
    background: rgb(241, 241, 241);
}


.fast, .dms {
    color:#1C6DD0;
}

.productive, .calling {
    color: #DB4437;
}

.authentic, .stories {
    color: #0F9D58;
}

.conditions {
    padding: 4rem;
}

.conditions h2 {
    color: #6AA4FF;
    padding: 1rem 0rem;
}

.conditions h5 {
    padding: .5rem 0rem;
}

.conditions h3 {
    padding: .5rem 0rem;
}

.conditions p {
    padding: .5rem 0rem;
}

.padded {
    padding: 0rem 2rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links p {
    /* color: #1C6DD0 !important; */
    /* justify-content: space-between; */
    /* justify-items: row; */
    /* flex-direction: row; */
    /* flex: 1; */
    font-size: .9rem;
    text-decoration: underline;
}

.column-card {
    display: flex;
    flex-direction: row;
    /* justify-items: space-between; */
    align-content: space-between;
    justify-content: center;
    /* background-color: #DB4437; */
    width: 100%;
    height: 40em;
}
.card-1 {
    padding: 10rem;
    margin-right: 5px;
    background-color: #b9dfa9c9;
    width: 100%;
    /* height: 40em; */
}
.card-2 {
    padding: 10rem;
    margin-left: 5px;
    background-color: #99c7e8ce;
    width: 100%;
}